@font-face {
    font-family: 'action_manregular';
    src: url('fonts/actionman_regular_macroman/Action_Man-webfont.woff') format('woff'),
        url('fonts/actionman_regular_macroman/Action_Man-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'permanent_markerregular';
    src: url('fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.woff') format('woff'),
        url('fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_arch_rivalregular';
    src: url('fonts/sfarchrival_regular_macroman/SF_Arch_Rival-webfont.woff') format('woff'),
        url('fonts/sfarchrival_regular_macroman/SF_Arch_Rival-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lightTheme {
    --main-bg-color: #fffcf0;
    --main-font-color: #202020;
    --pvp-btn-bg-color: #233a86;
    --pve-btn-bg-color: #6b1a1a;
    --ui-btn-bg-color: #4d1e68;
    --ui-btn-bg-hover-color: #752f9e;
    --ui-btn-bg-selected-color: #240d31;
    --pvp-btn-bg-hover-color: #2d4baf;
    --pve-btn-bg-hover-color: #a32828;
    --btn-text-color: #fffcf0;
    --theme-content-border-color: #151616;
    --placing-ship-hover-color: #b6b6b6;
    --ship-color: #7c479b;
    --sunk-ship-color: #8d8d8d;
    --hit-url: url(images/x-symbol.svg);
}

.darkTheme {
    --main-bg-color: #121212;
    --main-font-color: #ebe5d1;
    --pvp-btn-bg-color: #233a86;
    --pve-btn-bg-color: #6b1a1a;
    --ui-btn-bg-color: #4d1e68;
    --ui-btn-bg-hover-color: #752f9e;
    --ui-btn-bg-selected-color: #240d31;
    --pvp-btn-bg-hover-color: #2d4baf;
    --pve-btn-bg-hover-color: #a32828;
    --btn-text-color: #ebe5d1;
    --theme-content-border-color: #151616;
    --placing-ship-hover-color: #b6b6b6;
    --ship-color: #7c479b;
    --sunk-ship-color: #8d8d8d;
    --hit-url: url(images/x-symbol2.svg);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: 'permanent_markerregular';
}

/*left*/
.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    margin: 6px;
    width: 85%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

.gameMode {
    width: 75%;
    height: 120px;
    margin: 6px;
}

.hideBtn {
    display: none;
}

.pvpBtn,
.pveBtn,
.restartBtn,
.nextBtn,
.finishBtn {
    margin: 8px 0;
    width: 100%;
    height: calc(60px - 8px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 5px;
    color: var(--btn-text-color);
}

.pvpBtn {
    background-color: var(--pvp-btn-bg-color);

}

.pvpBtn:hover {
    background-color: var(--pvp-btn-bg-hover-color);
}

.pveBtn {
    background-color: var(--pve-btn-bg-color);
}

.pveBtn:hover {
    background-color: var(--pve-btn-bg-hover-color);
}

.restartBtn:hover,
.nextBtn:hover,
.finishBtn:hover {
    background-color: var(--ui-btn-bg-hover-color);
}

.restartBtn,
.nextBtn,
.finishBtn {
    background-color: var(--ui-btn-bg-color);
}

/*right*/
.right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 520px;
}

.mainMessage,
.passDevice {
    height: 60%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'action_manregular';
    font-weight: 900;
}

.playerBoardSmall {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
}

.square,
.playerSquare {
    border: 1px solid var(--main-font-color);
}

.playerBoardSmall [data-id="0,0"],
.gameBoard [data-id="0,0"],
.playerBoard [data-id="0,0"] {
    border-top-left-radius: 10px;
}

.playerBoardSmall [data-id="9,0"],
.gameBoard [data-id="9,0"],
.playerBoard [data-id="9,0"] {
    border-top-right-radius: 10px;
}

.playerBoardSmall [data-id="0,9"],
.gameBoard [data-id="0,9"],
.playerBoard [data-id="0,9"] {
    border-bottom-left-radius: 10px;
}

.playerBoardSmall [data-id="9,9"],
.gameBoard [data-id="9,9"],
.playerBoard [data-id="9,9"] {
    border-bottom-right-radius: 10px;
}

.playerBoardSmall [data-id^="0,"],
.gameBoard [data-id^="0,"],
.playerBoard [data-id^="0,"] {
    border-left: 2px solid var(--main-font-color);
}

.playerBoardSmall [data-id$=",0"],
.gameBoard [data-id$=",0"],
.playerBoard [data-id$=",0"] {
    border-top: 2px solid var(--main-font-color);
}

.playerBoardSmall [data-id$=",9"],
.gameBoard [data-id$=",9"],
.playerBoard [data-id$=",9"] {
    border-bottom: 2px solid var(--main-font-color);
}

.playerBoardSmall [data-id^="9,"],
.gameBoard [data-id^="9,"],
.playerBoard [data-id^="9,"] {
    border-right: 2px solid var(--main-font-color);
}

.gameBoard,
.playerBoard {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
}

.pickShip {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    overflow: hidden;
    border-radius: 5px;
    color: var(--btn-text-color);
}

.head {
    display: flex;
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.headChild {
    background-color: var(--ui-btn-bg-color);
    width: 50%;
}

.headChild:hover {
    cursor: pointer;
    background-color: var(--ui-btn-bg-hover-color);
    user-select: none;
}

.selectedHead {
    background-color: var(--ui-btn-bg-selected-color);
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--ui-btn-bg-color);
}

.shipContainer {
    font-family: 'sf_arch_rivalregular';
    display: flex;
    width: calc(50% - 1px);
    font-size: 60px;
    height: 150px;
    border: 1px solid var(--theme-content-border-color);
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;
}

.shipContainer:hover {
    background-color: var(--ui-btn-bg-hover-color);
    cursor: pointer;
    user-select: none;
}

.num {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 0 5px 0 5px;
}


.squareStyled {
    cursor: pointer;
    background-color: var(--placing-ship-hover-color);
}

.hitSquare,
.hitPlayerSquareSmall {
    background: var(--hit-url);
    background-size: contain;
}

.shipColor {
    background-color: var(--ship-color);
}

.sunkShipColor {
    background-color: var(--sunk-ship-color);
}